.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}

.navbar-black {
    background-color: var(--background-black);
}

.navbar-logo {
    color: var(--primary-red);
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 30px;
    color: #fff;
    font-size: 14px;
    margin-left: 40px;
    flex-grow: 1;
}

.navbar-links span {
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-links span:hover {
    color: #b3b3b3;
}

.navbar-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar-links {
        display: none;
    }

    .navbar {
        padding: 20px;
    }
}