.hero {
    color: white;
    object-fit: contain;
    height: 448px;
    position: relative;
    margin-bottom: 20px;
}

.hero-content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.hero-description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.hero-buttons {
    display: flex;
}

.hero-button {
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: #fff;
}

.hero-button.secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.hero-button:hover {
    opacity: 0.8;
    transition: all 0.2s;
}

.hero-fade-bottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #141414);
    position: absolute;
    bottom: 0;
    width: 100%;
}